# Lending Club Case Study

- Lending Club , is a largest online loan marketplace.facilitating personal loans, business loans, and financing of medical procedures.

- By using Exploratory Data Analysis,company Wants to know the risky applicants which is the largest source of credit loss and driving factors behind loan default.


## Two types of risks are associated with the bank’s decision:

1. If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company

2. If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company

## When a person applies for a loan, there are two types of decisions that could be taken by the company:

1.  **Loan accepted:** If the company approves the loan, there are 3 possible scenarios described below:

- Fully paid: Applicant has fully paid the loan (the principal and the interest rate)

- Current: Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. These candidates are not labelled as 'defaulted'.

- Charged-off: Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan 

2. **Loan rejected:** The company had rejected the loan (because the candidate does not meet their requirements etc.). Since the loan was rejected, there is no transactional history of those applicants with the company and so this data is not available with the company (and thus in this dataset)

![](https://cdn.upgrad.com/UpGrad/temp/7afbce98-8ecc-41c6-96d8-981cba7d343f/Loan_image.png)

## Objective of the Case Study
- By using Explonatory Data Analysis (EDA) identify the default applicants and minimize the credit loss
- understand the driving factors for loan default , this will help to improve the company risk assessment.

------------------------

1. Data Understanding & Preparation
    1. Data Sourcing - load the given file
    2. Check header rows and go through the given data dictionary
    3. Identify the key columns required for analysis - Drop NA columns
    4. Remove the ongoing loans - Not default
    5. Check the datatypes - convert if required
2. Data Cleaning and Manipulation
    1. null values more than 50% 
    2. droping extra columns
3. Data Analysis
4. Data Visualization

## Importing Required Libaries for EDA

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

1. Data Understanding

In [23]:
# 1.1 Data Sourcing - load the given file
loan_df = pd.read_csv('dataset/loan.csv')

In [ ]:
#1.2 Check header rows and go through the given data dictionary
#loan_df.shape  #(39717, 111) # verified csv vs data loaded into csv
loan_df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
#1.3 Identify the key columns required for analysis - Drop NA columns
null_columns = loan_df.columns[loan_df.isna().all()]
null_columns.size #54
loan_df.drop(null_columns, axis=1, inplace=True)
loan_df.shape # verify with initial shape #(39717, 111) -> (39717, 57)  54 columns dropped

(39717, 57)

In [29]:
#1.4 Remove the ongoing loans which is loan status ='current' -they are Not default 
loan_df = loan_df[~(loan_df['loan_status'].str.lower()=='current')]
loan_df.shape # number of rows reduced from #(39717, 57)  to (38577, 57)

(38577, 57)

In [33]:
#1.5. Check the datatypes - convert if required
# float conversion
loan_df.dtypes
for column in loan_df.columns:
    if loan_df[column].dtype == 'float64':
        loan_df[column] = loan_df[column].round(2)
        
loan_df.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

2. Data Cleaning and Manipulation